<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<div class="container">
  <h2>Request a Buddy</h2>
  <form formGroup="userForm" #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="_name">Name</label>
      <input type="text" class="form-control" #refName id="_name" formControlName="name" required>
     <div *ngIf="refName.classList.contains(ng-dirty)">
      <div *ngIf="userForm.control['name'].hasError('required')" class ="alert alert-danger">
        Please enter a name
      </div>
      <div *ngIf="userForm.control['name'].hasError['minLength']" class ="alert alert-danger">
        Please enter at least 2 characters
      </div>
    </div>
    </div>

    <div class="form-group">
      <label for="_surname">Surname</label>
      <input type="text" class="form-control" id="_surname" formControlName="surname" required>
      <div *ngIf="userForm.control['surname'].hasError('required')" class ="alert alert-danger">
        Please enter a surname
      </div>
    </div>
    <div class="form-group">
      <label for="_age">Age</label>
      <input type="number" class="form-control" id="_age" formControlName="age" required>
      <div *ngIf="userForm.control['age'].hasError('required')" class ="alert alert-danger">
        Please enter a valid age
      </div>
    </div>
    <div class="form-group">
      <fieldset id = "_preferredGender" formControlName="preferredGender">
        Preferred gender of your Buddy<br>
        <label for="_preferredGenderF">Female</label>
        <input type="radio" name="preferredGender" class="form-control" required id="_preferredGenderF">
        <label for="_preferredGenderM">Male</label>
        <input type="radio" name="preferredGender" class="form-control" id="_preferredGenderM">
        <label for="_preferredGenderN">Abstain</label>
        <input type="radio" name="preferredGender" class="form-control" id="_preferredGenderN">
      </fieldset>
    </div>
    <div class="form-group">
      <label for="_emailAddress">E-Mail Address </label>
      <input type="text" class="form-control" formControlName="emailAddress" id="_emailAddress" required>

      <div *ngIf="userForm.control['emailAddress'].hasError('required')" class ="alert alert-danger">
        Please enter a valid E-Mail Address
      </div>
    </div>
    <div class="form-group">
      <label for="_studySubject">Study Subject</label>
      <input type="text" class="form-control" formControlName="studySubject" id="_studySubject" required>

      <div *ngIf="userForm.control['studySubject'].hasError('required')" class ="alert alert-danger">
        Please enter a valid Study Subject
      </div>
    </div>
    <div class="form-group">
      <fieldset formControlName="hostUniversity" id = "_hostUniversity">
        At which university are you going to study?<br>
        <label for="_hostUniversityF">Fachhochschule Dortmund (University of Applied Sciences)</label>
        <input type="radio" name="university" class="form-control" required id="_hostUniversityF">
        <label for="_hostUniversityT">Technische Universität Dortmund (Technical University)</label>
        <input type="radio" name="university" class="form-control" id="_hostUniversityT">
        <label for="_hostUniversityN">None of the above</label>
        <input type="radio" name="university" class="form-control" id="_hostUniversityN">
      </fieldset>
    </div>
    <div class="form-group">
      <label for="_firstLanguage">Mother tongue (French, Spanish, etc.)</label>
      <input type="text" formControlName="firstLanguage" class="form-control" id="_firstLanguage" required>

      <div *ngIf="userForm.control['firstLanguage'].hasError('required')" class ="alert alert-danger">
        Please enter a valid language
      </div>
    </div>

    <div class="form-group">
      <label for="_secondLanguage">Second language</label>
      <input type="text" formControlName="secondLanguage" class="form-control" id="_secondLanguage" required>
      <div *ngIf="userForm.control['secondLanguage'].hasError('required')" class ="alert alert-danger">
        Please enter a valid language
      </div>
    </div>
    <div class="form-group">
      <label for="_duration">How many semesters are you planning to stay in Dortmund?</label>
      <input type="text" formControlName="duration" class="form-control" id="_duration">
    </div>
    <div class="form-group">
      <label for="_comments">Do you have any comments?</label>
      <input type="text" class="form-control" formControlName="comments" id="_comments">
    </div>
    <div class="form-group">
      <fieldset formControlName="gender" id = "_gender">
        What's your gender?<br>
        <label for="_genderF">Female</label>
        <input type="radio" name="gender"  class="form-control" id="_genderF">
        <label for="_genderM">Male</label>
        <input type="radio" name="gender" required class="form-control" id="_genderM">
        <label for="_genderN">Other</label>
        <input type="radio" name="gender" class="form-control" id="_genderN">
      </fieldset >
      <div *ngIf="userForm.control['gender'].hasError('required')" class ="alert alert-danger">
        Please select a button
      </div>
    </div>
    <div class="form-group">
      <label for="_exchangeProgram">What is your Exchange Program?</label>
      <input type="text" formControlName="exchangeProgram" class="form-control" id="_exchangeProgram">
    </div>


    <button type="submit" [disabled]="!userForm.valid" class="btn btn-submit">Submit</button>
  </form>

  <form formGroup="userForm" #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
</div>-->
<div class="row">
  <md-toolbar class="mat-toolbar">Request a Buddy</md-toolbar>
</div>
<div class="row" style="width:50%; align:center;">
<form style="" [formGroup]="buddyForm" novalidate (ngSubmit)="onSubmit()">
      <md-card class="mat-card">
        <md-card-header>
          <md-card-title>Personal information</md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="form-group">

            <md-input-container class="md-block">
              <label>First Name</label>
              <input mdInput class="form-control" formControlName="name" required>
              <md-hint *ngIf="buddyForm.controls['name'].hasError('required')&&buddyForm.controls['name'].touched"
                       class="alert alert-danger">Please enter a name
              </md-hint>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Last Name</label>
              <input mdInput class="form-control" formControlName="surname" required>
              <md-hint
                *ngIf="buddyForm.controls['surname'].hasError('required')&&buddyForm.controls['surname'].touched"
                class="alert alert-danger">Last name is required
              </md-hint>
            </md-input-container>
            &nbsp;&nbsp;
            <md-input-container class="md-block">
              <label>E-mail Address</label>
              <input mdInput class="form-control" formControlName="emailAddress"
                     required/>
              <md-hint
                *ngIf="buddyForm.controls['emailAddress'].hasError('email')&&buddyForm.controls['emailAddress'].touched"
                class="alert alert-danger">
                Your E-Mail Address doesn't look like an E-Mail Address
              </md-hint>
            </md-input-container>
            &nbsp;&nbsp;
            <md-input-container class="md-block">
              <label> How old are you?</label>
              <input mdInput class="form-control" formControlName="age" ng-pattern="/^[1-9]{2}$/">
              <md-hint *ngIf="buddyForm.controls['age'].hasError('pattern')&&buddyForm.controls['age'].touched"
                       class="alert alert-danger">Please enter a valid age
              </md-hint>
            </md-input-container>
<br/><br/>

            <md-radio-group formControlName="gender">
              <label> What's your gender?</label><br/><br/>
              <md-radio-button value="male" checked="true"> Male</md-radio-button>
              <md-radio-button value="female"> Female</md-radio-button>
              <md-radio-button value="other"> Other</md-radio-button>
            </md-radio-group>
<br/><br/>

            <md-radio-group formControlName="preferredGender">
              <label> What gender should your Mentor have?</label><br/><br/>

              <md-radio-button value="male" checked="true"> Male</md-radio-button>

              <md-radio-button value="female"> Female</md-radio-button>

              <md-radio-button value="abstain"> Abstain</md-radio-button>
            </md-radio-group>
            <br/>
            <br/>
            <br/>
          </div>
        </md-card-content>
      </md-card>
      <md-card class="mat-card">
        <md-card-header>
          <md-card-title>Information on your studies
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="form-group">
            <md-input-container>
              <label>Study Subject</label>
              <input mdInput class="form-control" formControlName="studySubject" required>
              <md-hint
                *ngIf="buddyForm.controls['studySubject'].hasError('required')&&buddyForm.controls['studySubject'].touched"
                class="alert alert-danger">Please enter a studySubject
              </md-hint>
            </md-input-container>
            <br/><br/>
            <md-radio-group class="form-check" formControlName="hostUniversity">
              <label>At which university are you going to study?</label><br/><br/>
              <md-radio-button class="form-check-input"  value="FH" checked="true"> Fachhochschule Dortmund (University of Applied
                Sciences)
              </md-radio-button>
              <br>
              <md-radio-button class="form-check-input" value="TU"> Technische Universität Dortmund (Technical University)</md-radio-button>
              <br>
              <md-radio-button class="form-check-input" value="none"> None of the above</md-radio-button>
              <br>
            </md-radio-group>
<br/>
              <md-select class="form-control" formControlName="firstLanguage" required>
                <label>Mother tongue (French, Spanish, etc.)</label>
                <md-option *ngFor="let lang of languages" [value]="lang.code">{{lang.language}}</md-option>
                <md-hint
                  *ngIf="buddyForm.controls['firstLanguage'].hasError('required')&&buddyForm.controls['firstLanguage'].touched"
                  class="alert alert-danger">Please select your primary language
                </md-hint>
              </md-select>
            &nbsp;
            <md-select class="form-control" formControlName="secondLanguage" required>
              <label>Second language</label>
              <md-option *ngFor="let lang of languages" [value]="lang.code">{{lang.language}}</md-option>
              <md-hint
                *ngIf="buddyForm.controls['secondLanguage'].hasError('required')&&buddyForm.controls['secondLanguage'].touched"
                class="alert alert-danger">Please enter your second language
              </md-hint>
            </md-select>


          </div>

        </md-card-content>

      </md-card>

      <md-card>
        <md-card-header>
          <md-card-title>Other information
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="from-group">
              <md-input-container>
                <label>How many semesters are you planning to stay in Dortmund?</label>
                <input mdInput class="form-control" formControlName="duration">
              </md-input-container>
            <br/>
            <md-input-container>
              <label>Do you have any comments?</label>
              <input mdInput class="form-control" formControlName="comments">
            </md-input-container>
            <br/>
            <md-input-container>
              <label>What is your Exchange Program?</label>
              <input mdInput class="form-control" formControlName="exchangeProgram" required>
              <md-hint
                *ngIf="buddyForm.controls['exchangeProgram'].hasError('required')&&buddyForm.controls['exchangeProgram'].touched"
                class="alert alert-danger">Please enter your Exchange Program
              </md-hint>
            </md-input-container>


            <md-card-actions>
              <md-button-toggle>
                <button md-raised-button type="submit" [disabled]="!buddyForm.valid" class="btn btn-submit">Submit
                </button>
              </md-button-toggle>
            </md-card-actions>
          </div>
        </md-card-content>
      </md-card>


</form>
</div>
