  .mat-card {
    padding: 20px;
  width:100%;
  margin:20px;
  }
.mat-radio-label {
                       white-space: initial;
                       align-items: flex-start;
                     }
  .div-left {
    float:left;
  }
  .div-below{

    float:bottom;
  }
  .div-right{
    float:right;
  }
  .div-center {

  }

