<a [routerLink]="[exchangeStudent.id]" class="list-group-item clearfix" routerLinkActive="active">
  <tr>
    <td>{{exchangeStudent.id}}</td>
    <td>{{exchangeStudent.name}}</td>
    <td>{{exchangeStudent.surname}}</td>
    <td>{{exchangeStudent.age}}</td>
    <td>{{exchangeStudent.gender}}</td>
    <td>{{exchangeStudent.emailAddress}}</td>
    <td>{{exchangeStudent.country}}</td>
    <td>{{exchangeStudent.firstLanguage}}</td>
    <td>{{exchangeStudent.secondLanguage}}</td>
    <td>{{exchangeStudent.studySubject}}</td>
    <td>{{exchangeStudent.hostUniversity}}</td>
    <td>{{exchangeStudent.duration}}</td>
    <td>{{exchangeStudent.exchangeProgram}}</td>
    <td>{{exchangeStudent.preferredGender}}</td>
    <td>{{exchangeStudent.comments}}</td>
  </tr>
</a>
