<div class="table-responsive">
  <div class="panel panel-heading">Local Student</div>
  <table class="table">
    <thead>
    <tr>
      <th>Select</th>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Email</th>
      <th>City</th>
      <th>Country</th>
      <th>First Language</th>
      <th>Second Language</th>
      <th>Third Language</th>
      <th>Study Subject</th>
      <th>Past Exchange Semester</th>
      <th>Future Exchange Semester</th>
      <th>Preferred Buddy Gender</th>
      <th>Preferences</th>
      <th>Comments</th>
    </tr>
    </thead>
    <tbody>
<!--(click)="navigateToLink([localStudent.id])"-->

    <tr  style="cursor:pointer" [ngStyle]="{'grey-border':attachStyle}" *ngFor="let localStudent of localStudents">
      <td><input type="checkbox" (click)="matchLocal(localStudent.id);" ></td>
      <td>{{localStudent.id}}</td>
      <td>{{localStudent.name}}</td>
      <td>{{localStudent.surname}}</td>
      <td>{{localStudent.age}}</td>
      <td>{{localStudent.gender}}</td>
      <td>{{localStudent.emailAddress}}</td>
      <td>{{localStudent.city}}</td>
      <td>{{localStudent.country}}</td>
      <td>{{localStudent.firstLanguage}}</td>
      <td>{{localStudent.secondLanguage}}</td>
      <td>{{localStudent.thirdLanguage}}</td>
      <td>{{localStudent.studySubject}}</td>
      <td>{{localStudent.pastExchangeSemester}}</td>
      <td>{{localStudent.futureExchangeSemester}}</td>
      <td>{{localStudent.preferredGender}}</td>
      <td>{{localStudent.preferences}}</td>
      <td>{{localStudent.comments}}</td>
    </tr>


    <!--<app-exchangestudent-item *ngFor="let exchangeStudent of exchangeStudents"
                              [exchangeStudent]="exchangeStudent"
    >

    </app-exchangestudent-item>-->
    </tbody>
  </table>
</div>
