<md-toolbar class="primary">Request an Exchange Student</md-toolbar>
<form [formGroup]="localForm" #myForm="ngForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form-group">
    <md-card class="mat-card">
      <md-card-header>
        <md-card-title>Personal information</md-card-title>
      </md-card-header>
      <md-card-content>
        <div class="form-group">

          <md-input-container class="md-block">
            <label>First Name</label>
            <input mdInput class="form-control" formControlName="name" required>
            <md-hint *ngIf="localForm.controls['name'].hasError('required')&&localForm.controls['name'].touched"
                     class="alert alert-danger">Please enter a name
            </md-hint>
          </md-input-container>
          &nbsp;&nbsp;
          <md-input-container class="md-block">
            <label>Last Name</label>
            <input mdInput class="form-control" formControlName="surname" required>
            <md-hint *ngIf="localForm.controls['surname'].hasError('required')&&localForm.controls['surname'].touched"
                     class="alert alert-danger">Last name is required
            </md-hint>
          </md-input-container>
          &nbsp;&nbsp;
          <md-input-container class="md-block">
            <label>E-mail Address</label>
            <input mdInput class="form-control" formControlName="emailAddress"
                   required/>
            <md-hint
              *ngIf="localForm.controls['emailAddress'].hasError('pattern')&&localForm.controls['emailAddress'].touched"
              class="alert alert-danger">
              Your E-Mail Address doesn't look like an E-Mail Address
            </md-hint>
          </md-input-container>
          &nbsp;&nbsp;
          <md-input-container class="md-block">
            <label>City</label>
            <input mdInput class="form-control" formControlName="city"
            />
            <md-hint
              *ngIf="localForm.controls['city'].hasError('required')&&localForm.controls['city'].touched"
              class="alert alert-danger">
              City is required
            </md-hint>
          </md-input-container>
          &nbsp;&nbsp;
          <md-input-container class="md-block">
            <label>Where are you from?</label>
            <input mdInput class="form-control" formControlName="country"
            />
          </md-input-container>
          <md-input-container class="md-block">
            <label> How old are you?</label>
            <input mdInput class="form-control" formControlName="age" ng-pattern="/^[1-9]{2}$/">
            <md-hint *ngIf="localForm.controls['age'].hasError('pattern')&&localForm.controls['age'].touched"
                     class="alert alert-danger">Please enter a valid age
            </md-hint>
          </md-input-container>
          &nbsp;&nbsp;
          <md-input-container class="md-block">
            <label>Phone number</label>
            <input mdInput class="form-control" formControlName="phoneNumber"
            />
            <md-hint
              *ngIf="localForm.controls['phoneNumber'].hasError('required')&&localForm.controls['phoneNumber'].touched"
              class="alert alert-danger">
              Please enter a Phone number
            </md-hint>
          </md-input-container>
          <br/><br/>
          <md-radio-group formControlName="gender">
            <label> What's your gender?</label><br/> <br/>
            <md-radio-button value="male" checked="true"> Male</md-radio-button>
            <md-radio-button value="female"> Female</md-radio-button>
            <md-radio-button value="other"> Other</md-radio-button>
          </md-radio-group>

          <br/><br/>
          <md-radio-group formControlName="preferredGender">
            <label> What gender should your Buddy have?</label><br/><br/>

            <md-radio-button value="male" checked="true"> Male</md-radio-button>

            <md-radio-button value="female"> Female</md-radio-button>

            <md-radio-button value="abstain"> Abstain</md-radio-button>
          </md-radio-group>

        </div>

      </md-card-content>
    </md-card>
  </div>
  <md-card class="mat-card">
    <md-card-header>
      <md-card-title>Information on your studies
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="form-group">
        <md-input-container>
          <label>Study Subject</label>
          <input mdInput class="form-control" formControlName="studySubject" required>
          <md-hint
            *ngIf="localForm.controls['studySubject'].hasError('required')&&localForm.controls['studySubject'].touched"
            class="alert alert-danger">Please enter a studySubject
          </md-hint>
        </md-input-container>
        <br/>

        <label>Languages</label>
        <md-select class="form-control" formControlName="firstLanguage" required>
          <label>Mother tongue (German,French, Spanish, etc.)</label>
          <md-option *ngFor="let lang of languages" [value]="lang.code">{{lang.language}}</md-option>
          <md-hint
            *ngIf="localForm.controls['firstLanguage'].hasError('required')&&localForm.controls['firstLanguage'].touched"
            class="alert alert-danger">Please enter your primary language
          </md-hint>
        </md-select>

        <md-select class="form-control" formControlName="secondLanguage" required>
          <label>Second Language</label>
          <md-option *ngFor="let lang of languages" [value]="lang.code">{{lang.language}}</md-option>
          <md-hint
            *ngIf="localForm.controls['secondLanguage'].hasError('required')&&localForm.controls['secondLanguage'].touched"
            class="alert alert-danger">Please enter your second language
          </md-hint>
        </md-select>


        <md-select class="form-control" formControlName="thirdLanguage">
          <label>Third language</label>
          <md-option *ngFor="let lang of languages" [value]="lang.code">{{lang.language}}</md-option>
          <md-hint
            *ngIf="localForm.controls['firstLanguage'].hasError('required')&&localForm.controls['firstLanguage'].touched"
            class="alert alert-danger">Please enter your primary language
          </md-hint>
        </md-select>
        &nbsp;&nbsp;
      </div>
    </md-card-content>

  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>Other information
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="from-group">

        <md-input-container>
          <label>Have you been on exchange? Where?</label>
          <input mdInput class="form-control" formControlName="pastExchangeSemester">
        </md-input-container>
        &nbsp;&nbsp;
        <md-input-container>
          <label>Are you planning to go on exchange? Where?</label>
          <input mdInput class="form-control" formControlName="futureExchangeSemester">
        </md-input-container>
        &nbsp;&nbsp;
        <md-input-container>
          <label>Do you have any comments?</label>
          <input mdInput class="form-control" formControlName="comments">
        </md-input-container>
        &nbsp;&nbsp;
        <md-input-container>
          <label>Do you have any preferences concerning your Buddy?</label>
          <input mdInput class="form-control" formControlName="preferences">
        </md-input-container>
        &nbsp;&nbsp;
        <label>I am able to support two students during their stay in Dortmund</label>
        <md-slide-toggle formControlName="twoBuddies"><p></p>
        </md-slide-toggle>

        &nbsp;&nbsp;
        <md-card-actions>
          <md-button-toggle>
            <button md-raised-button type="submit" [disabled]="!localForm.valid" class="btn btn-submit">Submit
            </button>
          </md-button-toggle>
        </md-card-actions>
      </div>
    </md-card-content>
  </md-card>
</form>


